<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ja">

<head>
	<meta charset="UTF-8">
	<title>生徒トップページ</title>
</head>
<body>
	<h1>生徒トップページです</h1>
	<p>今日はレギュラー授業です</p>
	
	<table border="1">
		<tr>
			<th>5限目</th>
			<th></th>
		</tr>
		<tr>
			<th>6限目</th>
			<th>数学</th>
		</tr>
		<tr>
			<th>7限目</th>
			<th>英語</th>
		</tr>
	</table>
	
	<button>授業予定の確認</button>
	<button>スケジュールを申請</button>
	<button>ユーザ情報を変更</button>
</body>
</html>