<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ja">

<head>
	<meta charset="UTF-8">
	<title>ログイン画面</title>
</head>

<body>
	<h1>ログイン画面です</h1>
	
	<form>
		<div>
		<label for "id">ID</label>
		<input type = "text" id = "id" name = "id">
		</div>
		
		<div>
		<label for "password">パスワード</label>
		<input type = "password" id = "password" name = "password">
		</div>
		
		<div>
		<input type = "submit" value = "ログイン">
		</div>
	</form>
	
	<p style="color: blue;">パスワードを忘れた人はこちら</p>
</body>

</html>